<div class="bg-green-200 flex flex-col items-center justify-center h-screen rounded-xl shadow-xl" style="height: 500px; width: 800px; margin-top: 50px">
    <h1 class="text-4xl mb-8">链家 可视化主页</h1>
    <div class="space-y-4">
        <a href="/echarts1" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">图 1</a>
        <a href="/echarts2" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">图 2</a>
        <a href="/echarts3" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">图 3</a>
        <a href="/echarts4" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">图 4</a>
    </div>
</div>